<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283854304131-rdlsske481o9pjooe7nt8i1ho1jpppci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283854304131-rdlsske481o9pjooe7nt8i1ho1jpppci</string>
	<key>API_KEY</key>
	<string>AIzaSyCu_evBcVyjeZXBqoGp33bUrLLit_mVJF4</string>
	<key>GCM_SENDER_ID</key>
	<string>283854304131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uao.campus.ios</string>
	<key>PROJECT_ID</key>
	<string>charmander-d429e</string>
	<key>STORAGE_BUCKET</key>
	<string>charmander-d429e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283854304131:ios:7cd206cbed64fea0</string>
	<key>DATABASE_URL</key>
	<string>https://charmander-d429e.firebaseio.com</string>
</dict>
</plist>